
[Bb]in/
[Oo]bj/
*.user
*.suo
*.cache
*.bak
*.sw?
*.[Cc]ache

**/bin/
**/obj/
*.lock.json

.vscode/

*.tmp
*.log
*.pidb
*.vsp
*.vspx

*.nupkg
packages/

_ReSharper*/
*.ReSharper*

*.sln.docstates
*.suo
*.userprefs

**/[Tt]est[Rr]esult*/
